<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Companies</title>
</head>
<body>
{{> common/_navigation }}
	<h1>Companies</h1>
	
	<form action="/admin/companies" method="post">
	<input type="text" name="companyname" required placeholder="company name">
	<button>Add Company</button>
	<table>
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Number of Invoices</th>
	    </tr>
	  </thead>
	  <tbody>
	    {{#companies}}
	      <tr>
	        <td>{{ name }}</td>
	        <td>{{ invoices.size }}</td>
	       </tr>
	    {{/companies}}
	  </tbody>  
	</table>
	  <input type="hidden" name="{{_csrf.parameterName }}" value="{{_csrf.token}}">
	 </form>

</body>
</html>